*{
    margin: 0;
    padding: 0;
}
.container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    place-items: center;
    gap: 20px;
}
.book-box{
    height: 200px;
    width: 250px;
    background-color: aliceblue;
}